<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inpainting Web App</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Inpainting Web App</h1>
      <input type="file" id="file-input" accept="image/*" />
      <canvas id="image-canvas" width="496" height="496"></canvas>
      <button onclick="inpaintImage()">Inpaint Image</button>
    </div>
    <script src="../static/js/main.js"></script>
  </body>
</html>
